In [1]:
# Installing Neccesarry Packages

# # pandas, azure-storage-blob, dotenv

!pip install pandas azure-storage-blob dotenv

Requirement already satisfied: pandas in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Collecting azure-storage-blob
  Using cached azure_storage_blob-12.23.1-py3-none-any.whl.metadata (26 kB)
Collecting dotenv
  Using cached dotenv-0.0.5.tar.gz (2.4 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'error'

  error: subprocess-exited-with-error

  × pip subprocess to install backend dependencies did not run successfully.
  │ exit code: 1
  ╰─> [29 lines of output]
      Collecting distribute
        Using cached distribute-0.7.3.zip (145 kB)
        Installing build dependencies: started
        Installing build dependencies: finished with status 'done'
        Getting requirements to build wheel: started
        Getting requirements to build wheel: finished with status 'done'
        Preparing metadata (pyproject.toml): started
        Preparing metadata (pyproject.toml): finished with status 'error'
        error: subprocess-exited-with-error

        Ã— Preparing metadata (pyproject.toml) did not run successfully.
        â”‚ exit code: 1
        â•°â”€> [6 lines of output]
            usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
               or: setup.py --help [cmd1 cmd2 ...]
               or: setup.py --help-commands
               or: setup.py cmd --help

            error: invalid command 'dist_info'
            [end of output]

        note: This error originates from a subprocess, and is likely not a problem with pip.
      error: metadata-generation-failed

      Ã— Encountered error while generating package metadata.
      â•°â”€> See above for output.

      note: This is an issue with the package mentioned above, not pip.
      hint: See above for details.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× pip subprocess to install backend dependencies did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [2]:
!pip install azure-storage-blob

Collecting azure-storage-blob
  Using cached azure_storage_blob-12.23.1-py3-none-any.whl.metadata (26 kB)
Collecting azure-core>=1.30.0 (from azure-storage-blob)
  Using cached azure_core-1.31.0-py3-none-any.whl.metadata (39 kB)
Collecting cryptography>=2.1.4 (from azure-storage-blob)
  Downloading cryptography-43.0.1-cp39-abi3-win_amd64.whl.metadata (5.4 kB)
Collecting typing-extensions>=4.6.0 (from azure-storage-blob)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting isodate>=0.6.1 (from azure-storage-blob)
  Downloading isodate-0.7.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests>=2.21.0 in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (from azure-core>=1.30.0->azure-storage-blob) (2.32.3)
Requirement already satisfied: six>=1.11.0 in c:\users\olalekan\appdata\roaming\python\python312\site-packages (from azure-core>=1.30.0->azure-storage-blob) (1.16.0)
Collecting cffi>=1.12 (from cryptography>=2.1.4->azure-storage-blob)
  Downloading cffi-1.17.1-cp312-cp312-win_amd64.whl.metadata (1.6 kB)
Collecting pycparser (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob)
  Downloading pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\olalekan\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2024.8.30)
Using cached azure_storage_blob-12.23.1-py3-none-any.whl (405 kB)
Using cached azure_core-1.31.0-py3-none-any.whl (197 kB)
Downloading cryptography-43.0.1-cp39-abi3-win_amd64.whl (3.1 MB)
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.1 MB ? eta -:--:--
   --- ------------------------------------ 0.3/3.1 MB ? eta -:--:--
   --- ------------------------------------ 0.3/3.1 MB ? eta -:--:--
   --- ------------------------------------ 0.3/3.1 MB ? eta -:--:--
   ------ --------------------------------- 0.5/3.1 MB 399.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.5/3.1 MB 399.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.5/3.1 MB 399.6 kB/s eta 0:00:07
   ---------- ----------------------------- 0.8/3.1 MB 385.8 kB/s eta 0:00:06
   ---------- ----------------------------- 0.8/3.1 MB 385.8 kB/s eta 0:00:06
   ---------- ----------------------------- 0.8/3.1 MB 385.8 kB/s eta 0:00:06
   ---------- ----------------------------- 0.8/3.1 MB 385.8 kB/s eta 0:00:06
   ------------- -------------------------- 1.0/3.1 MB 370.1 kB/s eta 0:00:06
   ------------- -------------------------- 1.0/3.1 MB 370.1 kB/s eta 0:00:06
   ------------- -------------------------- 1.0/3.1 MB 370.1 kB/s eta 0:00:06
   ------------- -------------------------- 1.0/3.1 MB 370.1 kB/s eta 0:00:06
   ----------------- ---------------------- 1.3/3.1 MB 347.8 kB/s eta 0:00:06
   ----------------- ---------------------- 1.3/3.1 MB 347.8 kB/s eta 0:00:06
   -------------------- ------------------- 1.6/3.1 MB 376.2 kB/s eta 0:00:04
   --------------------------- ------------ 2.1/3.1 MB 493.5 kB/s eta 0:00:02
   ---------------------------------- ----- 2.6/3.1 MB 594.6 kB/s eta 0:00:01
   ------------------------------------- -- 2.9/3.1 MB 640.5 kB/s eta 0:00:01
   ---------------------------------------- 3.1/3.1 MB 648.9 kB/s eta 0:00:00
Downloading isodate-0.7.2-py3-none-any.whl (22 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Downloading cffi-1.17.1-cp312-cp312-win_amd64.whl (181 kB)
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: typing-extensions, pycparser, isodate, cffi, azure-core, cryptography, azure-storage-blob
Successfully installed azure-core-1.31.0 azure-storage-blob-12.23.1 cffi-1.17.1 cryptography-43.0.1 isodate-0.7.2 pycparser-2.22 typing-extensions-4.12.2

In [3]:
import azure.storage.blob

In [4]:
from azure.storage.blob import BlobServiceClient

In [5]:
!pip install dotenv

Collecting dotenv
  Using cached dotenv-0.0.5.tar.gz (2.4 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'error'

  error: subprocess-exited-with-error

  × pip subprocess to install backend dependencies did not run successfully.
  │ exit code: 1
  ╰─> [29 lines of output]
      Collecting distribute
        Using cached distribute-0.7.3.zip (145 kB)
        Installing build dependencies: started
        Installing build dependencies: finished with status 'done'
        Getting requirements to build wheel: started
        Getting requirements to build wheel: finished with status 'done'
        Preparing metadata (pyproject.toml): started
        Preparing metadata (pyproject.toml): finished with status 'error'
        error: subprocess-exited-with-error

        Ã— Preparing metadata (pyproject.toml) did not run successfully.
        â”‚ exit code: 1
        â•°â”€> [6 lines of output]
            usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
               or: setup.py --help [cmd1 cmd2 ...]
               or: setup.py --help-commands
               or: setup.py cmd --help

            error: invalid command 'dist_info'
            [end of output]

        note: This error originates from a subprocess, and is likely not a problem with pip.
      error: metadata-generation-failed

      Ã— Encountered error while generating package metadata.
      â•°â”€> See above for output.

      note: This is an issue with the package mentioned above, not pip.
      hint: See above for details.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× pip subprocess to install backend dependencies did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [6]:
# Importing Necessary Libraries

import pandas as pd
from dotenv import load_dotenv
import os

In [7]:
# Data Extraction

try:
  data = pd.read_csv('zipco_transaction.csv')
  print('Data Extracted Succesfully')
except Exception as e:
  print(f"An error occurred: {e}")

Data Extracted Succesfully

In [8]:
data.head()

,Date,ProductName,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,...,DeliveryTime_min,OrderType,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail,Staff_Name,Staff_Email,DayOfWeek,TotalSales
0,2023-01-01 00:00:00,Vanilla Cake,2,12.532304,South,Cash,True,Rainy,20.654914,Poor,...,30,In Store,William Adams,"9851 David Green\r\nTonyaburgh, VA 02853",(916)427-7276x861,lisa00@example.net,John Bridges,pdavidson@example.com,Sunday,25.064608
1,2023-01-01 01:00:00,Red Velvet Cake,1,7.083070,South,Cash,False,Rainy,23.549497,Average,...,33,In Store,Anthony Wiggins,"24682 Holly Stravenue\r\nMooreville, NH 13901",769.318.4373,michellefernandez@example.com,Sarah Bentley,ajohnson@example.net,Sunday,7.083070
2,2023-01-01 02:00:00,Chocolate Cake,5,6.736064,North,Cash,True,Rainy,NaN,Excellent,...,43,Phone Order,Ashley Duke,10184 Washington Trace Apt. 679\r\nEast Brandi...,702.520.3286,cooperwilliam@example.com,Connie Cervantes,michele29@example.net,Sunday,33.680321
3,2023-01-01 03:00:00,Carrot Cake,2,7.314823,North,Cash,False,Cloudy,20.137483,Poor,...,32,Online Order,Brandon Taylor,"87194 Jeff Rue\r\nMitchellbury, CA 50463",622-527-9530,fsilva@example.net,Jessica Stewart,xwilson@example.org,Sunday,14.629647
4,2023-01-01 04:00:00,Pizza Pepperoni,1,7.577727,East,Credit Card,True,Cloudy,23.020987,Good,...,58,In Store,Brittany Watkins,"850 Julia Groves\r\nHartview, WI 95954",759-517-8359,petersjoseph@example.net,Cheryl Carpenter,christine96@example.org,Sunday,7.577727

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1005 non-null   object
 1   ProductName             1005 non-null   object
 2   Quantity                1005 non-null   int64
 3   UnitPrice               1005 non-null   float64
 4   StoreLocation           1005 non-null   object
 5   PaymentType             1005 non-null   object
 6   PromotionApplied        1005 non-null   bool
 7   Weather                 1005 non-null   object
 8   Temperature             904 non-null    float64
 9   StaffPerformanceRating  1005 non-null   object
 10  CustomerFeedback        905 non-null    object
 11  DeliveryTime_min        1005 non-null   int64
 12  OrderType               1005 non-null   object
 13  CustomerName            1005 non-null   object
 14  CustomerAddress         1005 non-null   object
 15  Customer_PhoneNumber    1005 non-null   object
 16  CustomerEmail           904 non-null    object
 17  Staff_Name              1005 non-null   object
 18  Staff_Email             904 non-null    object
 19  DayOfWeek               1005 non-null   object
 20  TotalSales              1005 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 158.1+ KB

In [10]:
# Data cleaning and transformation
# Remove duplicate entries

data.drop_duplicates(inplace=True)

In [11]:
# Replace missing values ( filling missing numeric values with mean or median)

numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_columns:
  data.fillna({col: data[col].mean()}, inplace=True)

In [12]:
# Handle missing values  (fill missing string/objects values with "unknown")

string_columns = data.select_dtypes(include=['object']).columns
for col in string_columns:
  data.fillna({col: 'Unknown'}, inplace=True)

In [29]:
data['Date'] = pd.to_datetime(data['Date'])

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   datetime64[ns]
 1   ProductName             1000 non-null   object
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             1000 non-null   float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        1000 non-null   object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  CustomerName            1000 non-null   object
 14  CustomerAddress         1000 non-null   object
 15  Customer_PhoneNumber    1000 non-null   object
 16  CustomerEmail           1000 non-null   object
 17  Staff_Name              1000 non-null   object
 18  Staff_Email             1000 non-null   object
 19  DayOfWeek               1000 non-null   object
 20  TotalSales              1000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(14)
memory usage: 165.0+ KB

In [14]:
data.columns

Index(['Date', 'ProductName', 'Quantity', 'UnitPrice', 'StoreLocation',
       'PaymentType', 'PromotionApplied', 'Weather', 'Temperature',
       'StaffPerformanceRating', 'CustomerFeedback', 'DeliveryTime_min',
       'OrderType', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail', 'Staff_Name', 'Staff_Email', 'DayOfWeek',
       'TotalSales'],
      dtype='object')

In [20]:
# Create the product table 
products = data[['ProductName']].drop_duplicates().reset_index(drop=True)
# Add the table ID starting from 1
products['Product_id'] = products.index + 1

products = products[['Product_id', 'ProductName']]

In [21]:
products.head(20)

   Product_id               ProductName
0           1              Vanilla Cake
1           2           Red Velvet Cake
2           3            Chocolate Cake
3           4               Carrot Cake
4           5           Pizza Pepperoni
5           6          Pizza Margherita
6           7  Pizza Beef Double decker
7           8                Cheesecake
8           9                Fruit Cake

In [18]:
#Customer Table

customers = data[['CustomerName', 'CustomerAddress', 'Customer_PhoneNumber','CustomerEmail']].drop_duplicates().reset_index(drop=True)
customers['Customer_id'] = customers.index + 1

# Reorder the columns to make 'TableID' the first column
customers = customers[['Customer_id', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber','CustomerEmail']]

In [19]:
customers.head()

,Customer_id,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail
0,1,William Adams,"9851 David Green\r\nTonyaburgh, VA 02853",(916)427-7276x861,lisa00@example.net
1,2,Anthony Wiggins,"24682 Holly Stravenue\r\nMooreville, NH 13901",769.318.4373,michellefernandez@example.com
2,3,Ashley Duke,10184 Washington Trace Apt. 679\r\nEast Brandi...,702.520.3286,cooperwilliam@example.com
3,4,Brandon Taylor,"87194 Jeff Rue\r\nMitchellbury, CA 50463",622-527-9530,fsilva@example.net
4,5,Brittany Watkins,"850 Julia Groves\r\nHartview, WI 95954",759-517-8359,petersjoseph@example.net

In [22]:
# staff table
staff = data[['Staff_Name', 'Staff_Email']].drop_duplicates().reset_index(drop=True)
staff ['staffID'] = staff.index + 1

staff = staff[['staffID','Staff_Name', 'Staff_Email']]

In [23]:
staff.head()

   staffID        Staff_Name              Staff_Email
0        1      John Bridges    pdavidson@example.com
1        2     Sarah Bentley     ajohnson@example.net
2        3  Connie Cervantes    michele29@example.net
3        4   Jessica Stewart      xwilson@example.org
4        5  Cheryl Carpenter  christine96@example.org

In [24]:
# transaction table
transaction = data.merge(products, on=["ProductName"], how='left') \
                  .merge(customers, on=['CustomerName', 'CustomerAddress', 'Customer_PhoneNumber','CustomerEmail'], how='left') \
                  .merge(staff, on=['Staff_Name', 'Staff_Email'], how='left')
transaction['TransactionID'] = transaction.index + 1
transaction = transaction.reset_index() \
                          [['Date','TransactionID', 'Quantity', 'UnitPrice', 'StoreLocation','PaymentType', 'PromotionApplied', 'Weather', 'Temperature', \
                            'StaffPerformanceRating', 'CustomerFeedback', 'DeliveryTime_min','OrderType','Customer_id','staffID','DayOfWeek','TotalSales'
                            ]]

In [25]:
transaction.head()

,Date,TransactionID,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,CustomerFeedback,DeliveryTime_min,OrderType,Customer_id,staffID,DayOfWeek,TotalSales
0,2023-01-01 00:00:00,1,2,12.532304,South,Cash,True,Rainy,20.654914,Poor,Neutral,30,In Store,1,1,Sunday,25.064608
1,2023-01-01 01:00:00,2,1,7.083070,South,Cash,False,Rainy,23.549497,Average,Positive,33,In Store,2,2,Sunday,7.083070
2,2023-01-01 02:00:00,3,5,6.736064,North,Cash,True,Rainy,27.154342,Excellent,Unknown,43,Phone Order,3,3,Sunday,33.680321
3,2023-01-01 03:00:00,4,2,7.314823,North,Cash,False,Cloudy,20.137483,Poor,Positive,32,Online Order,4,4,Sunday,14.629647
4,2023-01-01 04:00:00,5,1,7.577727,East,Credit Card,True,Cloudy,23.020987,Good,Neutral,58,In Store,5,5,Sunday,7.577727

In [26]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   TransactionID           1000 non-null   int64
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             1000 non-null   float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        1000 non-null   object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  Customer_id             1000 non-null   int64
 14  staffID                 1000 non-null   int64
 15  DayOfWeek               1000 non-null   object
 16  TotalSales              1000 non-null   float64
dtypes: bool(1), float64(3), int64(5), object(8)
memory usage: 126.1+ KB

In [27]:
transaction['Date'] = pd.to_datetime(transaction['Date'])

In [28]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   datetime64[ns]
 1   TransactionID           1000 non-null   int64
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             1000 non-null   float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        1000 non-null   object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  Customer_id             1000 non-null   int64
 14  staffID                 1000 non-null   int64
 15  DayOfWeek               1000 non-null   object
 16  TotalSales              1000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 126.1+ KB

In [32]:
# saving data as csv file
data.to_csv('clean_data.csv', index=False)
customers.to_csv('customers.csv', index=False)
staff.to_csv('staff.csv', index=False)
products.to_csv('products.csv', index=False)
transaction.to_csv('transaction.csv', index=False)

In [33]:
# loading date into azure blob storage
# load the environment variables from the .env file
load_dotenv()

connect_str = os.getenv('AZURE_CONNECTION_STRING_VALUE')
container_name = os.getenv("CONTAINER_NAME")

In [36]:
# Create a BlobServiceClient object
blob_service_client = BlobServiceClient.from_connection_string(connect_str)
container_client = blob_service_client.get_container_client(container_name)

# Code to Load data to Azure blob storage
files = [
    (data, 'rawdata/clean_data.csv'),
    (products, 'cleaneddata/products.csv'),
    (customers, 'cleaneddata/customers.csv'),
    (staff, 'cleaneddata/staff.csv'),
    (transaction, 'cleaneddata/transaction.csv')
]

for file, blob_name in files:
    blob_client = container_client.get_blob_client(blob_name)
    output = file.to_csv(index=False)
    blob_client.upload_blob(output, overwrite=True)
    print(f'{blob_name} loaded into Azure Blob Storage')

rawdata/clean_data.csv loaded into Azure Blob Storage
cleaneddata/products.csv loaded into Azure Blob Storage
cleaneddata/customers.csv loaded into Azure Blob Storage
cleaneddata/staff.csv loaded into Azure Blob Storage
cleaneddata/transaction.csv loaded into Azure Blob Storage